.countainer 
{
    width: 85%;
    margin: auto;

}
body
{
 background-image: url("./imag/de0f4bf6e8075312a6eb20ad7044571a.jpg");
background-size: cover;

}

.page1 
{
    margin: auto;

}

.page1 .navbar 
{
    background-color:cadetblue;
    opacity: 0.5;
    overflow: hidden;  


}
.page1 .navbar h2
{
    float: left;
}


.navbar ul 
{
list-style-type: none;
padding-left: 0;
overflow: hidden;
float: right;
font-size: 20px;
}
.navbar ul li
{
    padding-left: 15px;
    float:left;
    display:inline-block;
}

.slaider 
{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    margin-left: 10px;
    border: 1px solid #F5F5F5 ;
    overflow: 0.5;
    width:50%;
    padding: 10px;
    text-align: center;

    
}

.slaider > div 
{
    display: none;
}



.slaider .active 
{
    display: block;
}

.page2{
    display: grid;
       grid-template-columns: 400px 400px 400px; 
       grid-template-rows: 450px 450px 450px; 
       margin-left:150px ;

    
}
.page2 > div
{
    margin-left:50px ;
    margin-bottom: 50px;

    border: 2px solid black;
}
.cardCar > div img 
{
    width: 100%;
    height: 50%;
}



