.countainer 
{
    width: 85%;
    margin: auto;

}
body
{
  /* background-image: url("./imag/de0f4bf6e8075312a6eb20ad7044571a.jpg"); */
background-size: cover;
margin: 0;
padding: 0;

}

.page1 
{
    margin: auto;

}

.page1 .navbar 
{
    overflow: hidden;  
    background-color: #9BB9BF;
    width: 90%;
    margin: auto;


}
.page1 .navbar h2
{
    float: left;
    color: #1A0101;
}


.navbar ul 
{
list-style-type: none;
padding-left: 0;
overflow: hidden;
float: right;
font-size: 20px;

}
.navbar ul li
{
    padding-left: 15px;
    float:left;
    display:inline-block;
    color: #1A0101;
}

.slaider 
{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    margin-left: 10px;
    overflow: 0.5;
    width:50%;
    padding: 10px;
    text-align: center;
    color: #1A0101;

    
}

.slaider > div 
{
    display: none;
}



.slaider .active  
{
    display: block;
}

.imaSla {
    display: flex;
}

.imaSla .slaider
{
    width: 60%;
}
.imaSla .imag {
    width: 30%;
    margin-left: 30px;
}

.imaSla .imag img 
{
    
width: 80%;
border-radius: 20px ;
margin-top: 100px;
}

.buton {
    margin-left: 28%;
    margin-top: 3%;
}
.buton #carShow {
    background-color:#9BB9BF ;
    cursor: pointer;
    padding: 10px;
    border: 1px solid  #4C6C73;
    width: 150px;
    border-radius: 10px;
    color: #1A0101;
    text-align: center;
    font-size: large; 
}
.buton #carShow:hover {
    opacity: 0.9;
    background-color: #9BB9BF;
}


.page2{
    display: grid;
       grid-template-columns: 370px 370px 370px; 
       grid-template-rows: 400px 400px 400px; 
       margin-left:200px ;
       margin-top: 40px;

    
}
.ch {
    margin-left:50px ;
    margin-bottom: 20px;
    border: 2px solid black;
    margin-top: 5%;
}

.page2 > div img 
{
    width: 100%;
    height: 50%;
}

.info p , .info h1
{
    margin: 10px;
    padding: 10px;
}



