.countainer 
{
    width: 85%;
    margin: auto;

}
body
{
 /* background-image: url("./imag/de0f4bf6e8075312a6eb20ad7044571a.jpg");*/
background-size: cover;
margin: 0;
padding: 0;

}

.page1 
{
    margin: auto;

}

.page1 .navbar 
{
    background-color:cadetblue;
    opacity: 0.5;
    overflow: hidden;  


}
.page1 .navbar h2
{
    float: left;
}


.navbar ul 
{
list-style-type: none;
padding-left: 0;
overflow: hidden;
float: right;
font-size: 20px;
}
.navbar ul li
{
    padding-left: 15px;
    float:left;
    display:inline-block;
}

.slaider 
{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    margin-left: 10px;
    border: 1px solid #F5F5F5 ;
    overflow: 0.5;
    width:50%;
    padding: 10px;
    text-align: center;

    
}

.slaider > div 
{
    display: none;
}



.slaider .active 
{
    display: block;
}

.ooo 
{
    border: 2px solid red;
    width: 100%;
    height: 25%;
    margin-top: 30px;
    text-align: center;

}

.page2{
    display: grid;
       grid-template-columns: 330px 330px 330px; 
       grid-template-rows: 370px 370px 370px; 
       margin-left:200px ;
       margin-top: 40px;
       height: 0;

    
}
.page2 > div
{
    margin-left:50px ;
    margin-bottom: 20px;

    border: 2px solid black;
}
.page2 > div img 
{
    width: 100%;
    height: 50%;
}

.info p , .info h1
{
    margin: 10px;
    padding: 10px;
}



